@charset "UTF-8";

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;/* font-size:100%;font:inherit; */vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}h3{font-weight:normal}li{list-style:none}

/*--------------------------------------------------------------------------------
 ________  ________  _____ ______   _______   _____ ______   ________  ________   
|\   ____\|\   __  \|\   _ \  _   \|\  ___ \ |\   _ \  _   \|\   __  \|\   __  \  
\ \  \___|\ \  \|\  \ \  \\\__\ \  \ \   __/|\ \  \\\__\ \  \ \  \|\  \ \  \|\  \ 
 \ \_____  \ \  \\\  \ \  \\|__| \  \ \  \_|/_\ \  \\|__| \  \ \   __  \ \   ____\
  \|____|\  \ \  \\\  \ \  \    \ \  \ \  \_|\ \ \  \    \ \  \ \  \ \  \ \  \___|
    ____\_\  \ \_______\ \__\    \ \__\ \_______\ \__\    \ \__\ \__\ \__\ \__\   
   |\_________\|_______|\|__|     \|__|\|_______|\|__|     \|__|\|__|\|__|\|__|   
   \|_________|                                                                   

Style Sheet for Somemap

author: San Kim
email: uisan@me.com
website: http://somemap.kr
-------------------------------------------------------------------------------*/

/* Initialize */
html, body { font-family: 'notokr-regular', 'NanumGothic', 'Malgun Gothic'; font-size: 97%; -webkit-font-smoothing: antialiased; }
.ios-scroll { -webkit-overflow-scrolling: touch; }
.l--container{ max-width: 960px; margin: 0 auto; }
.d--block { display: block!important; width: 100%; }

.glyphicons-group { background-image: url('/assets/img/glyphicons/png/glyphicons-44-group.png'); }
.glyphicons-globe { background-image: url('/assets/img/glyphicons/png/glyphicons-371-globe-af.png'); }
.glyphicons-user-lock { background-image: url('/assets/img/glyphicons/png/glyphicons-522-user-lock.png'); }
.glyphicons-culture { background-image: url('/assets/img/glyphicons/png/glyphicons-671-theater.png'); }
.glyphicons-safe { background-image: url('/assets/img/glyphicons/png/glyphicons-79-warning-sign.png'); }
.glyphicons-education { background-image: url('/assets/img/glyphicons/png/glyphicons-501-education.png'); }
.glyphicons-taste { background-image: url('/assets/img/glyphicons/png/glyphicons-476-dining-set.png'); }
.glyphicons-environment { background-image: url('/assets/img/glyphicons/png/glyphicons-372-global.png'); }
.glyphicons-travel { background-image: url('/assets/img/glyphicons/png/glyphicons-34-luggage.png'); }
.glyphicons-etc { background-image: url('/assets/img/glyphicons/png/glyphicons-188-more.png'); }
.glyphicons-research { background-image: url('/assets/img/glyphicons/png/glyphicons-547-quote.png'); }
.glyphicons-pen { background-image: url('/assets/img/glyphicons/png/glyphicons-31-pencil.png'); }
.glyphicons-share-alt { background-image: url('/assets/img/glyphicons/png/glyphicons-309-share-alt.png'); }
.glyphicons-cadastral-map { background-image: url('/assets/img/glyphicons/png/glyphicons-740-cadastral-map.png'); } 
.glyphicons-edit { background-image: url('/assets/img/glyphicons/png/glyphicons-151-edit.png'); }
.glyphicons-floppy-remove { background-image: url('/assets/img/glyphicons/png/glyphicons-446-floppy-remove.png'); }

.f--dropdown-switch { color: #444; cursor: pointer; box-sizing: border-box; }
.f--dropdown-checkbox { display: none; }
.f--dropdown-checkbox + .l--list { display: none; }
.f--dropdown-checkbox:checked + .l--list { display: block!important; }
.f--dropdown-switch.portrait .s--portrait { margin: 8px; }
.f--dropdown-switch.notification { width: 50px; height: 100%; position: absolute; right: 50px; background: url('/assets/img/pin-black.png') no-repeat center center / 20px; top: 0; }
.l--list { position: absolute; top: 40px; z-index: 2; box-shadow: 1px 2px 2px rgba(0,0,0,0.2); }
.l--list li { position: relative; }
.l--list li a { padding: 10px; display: block; color: #6D6D6D; box-sizing: border-box; -moz-box-sizing: border-box; font-size: 0.9em; line-height: normal; background: #FFF; }
.l--list--toggle li a { border-top: 1px solid #dbdee3; background: #FFF; }
.l--list-hor > li { float: left; }
.l--list-divider {background: #E4E4E4; box-sizing: border-box; padding: 0!important;}
.l--list-divider.horizontal { width: 100%; height: 1px; margin: 15px 0; line-height: 1px; text-align: center; }
.l--list-divider.vertical { width: 1px; height: 100%; }
.l--list-divider--label { background: white; padding: 0 15px; font-size: 0.85em; }
.l--list--toggle { border-left: 1px solid }

.inverted-triangle { position: relative; display: inline-block; vertical-align: 2px; }
.inverted-triangle span { display: inline-block; border-bottom: 5px solid transparent; float: left; }
.arrow-left { width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 7px solid #454442; display: block; }

.l--main--filters a.selected.popular .triangle { border-top: 5px solid black; }
.l--main--filters a.selected.recent .triangle { border-bottom: 5px solid black; }
.triangle { width:0; height:0; margin-top: 2px; margin-left: 2px; border-right: 5px solid transparent; border-left: 5px solid transparent; float: right; }
.triangle-one { border-right: 5px solid #FFF; }
.triangle-two { border-left: 5px solid #FFF; }

.triple-stripe span { border-radius: 5px; background: #999; display: block; height: 3px; margin-top: 3px; }
.triple-stripe span:first-child { margin-top: 0; }

.triple-circle { width: 40px; height: 40px; padding: 9px; }
.triple-circle       span { display: block; border-radius: 50%; width: 5px; height: 5px; background: #a2a2a2; margin: 3px auto 0; }
.triple-circle       span:first-child { margin-top: 0; }
.triple-circle.white span { background: #FFF; border: 1px solid #B6B6B6; box-sizing: border-box; -moz-box-sizing: border-box; }

.search-input { -webkit-appearance: none;
    background-image: url('/assets/img/glyphicons/png/glyphicons-28-search.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px;
    color: #444;
    font-size: 1em;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    background-color: #FFF;
    text-indent: 0;
    padding: 10px 15px 10px 35px!important;
}

.embed { padding: 0; height: 100%; }
.embed .l--common-gnb { display: none; }
.embed .l--index { top: 10px; }
.hiding-over-540px--ib { display: none!important; }
body.no-more-scroll--popup-place, 
body.no-more-scroll--popup-photo,
body.no-more-scroll--hiding-list {
	height: 100%!important;
    overflow: hidden!important;
}

html.map, body.map { height: 100%; overflow: hidden; }
body.map { padding-top: 50px; box-sizing: border-box; -moz-box-sizing: border-box;  }

/*- S -*/
.s--button {
	padding: 12px 8px;
	display: inline-block;
	line-height: 0.9em;
	font-size: 0.9em;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	transition: 500ms;
	border: 0;
	-webkit-appearance: none;
}

.s--button.small {
	padding: 8px 5px;
	font-size: 0.7em;
}

.s--portrait {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 1px solid gray;
	display: inline-block;
	vertical-align: middle;
	background-position: center center;
	background-size: cover;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAABGlBMVEVmb3pJWWZtbH9rc35ncHtDVGJqcn1IWGVFVmNpcXxEVWNrc31sdH5ocHtlb3pGV2RHWGVDVWJKWWZHV2RKWmdYZHBsc35lbnpEVmNkbnlocXxocXtSYG1EVWJWY29tdH9OXWlFVmROXWpibHdlbnlrcn1KWmZSYGxTYW1bZnJMW2hOXGlUYm5jbXhNXGlLWmdUYW1HV2VdaHReaXVBU2FfanVga3ZIWWZaZnJAUmBtdYBIWGZXZHBganZvdoFncHpRX2tudYBCU2FudX9JWmZvdYBcZ3NjbHhcaHNLW2hZZXFqcnxQXmtPXmtGVmRXZG9UYW5aZnFVYm5CVGFbZ3NkbXk%2FUl9pcnxbZ3JBU2BaZXFRX2xha3Zha3cik6G7AAABeklEQVQ4EYXBBWLbQBQFwPe7LAZLZnaYqczMzHD%2Fa9SNnS1o1cwAF86FCs5xHp%2BFIZP4jyhkN%2FZHW9vfyxC1uD%2FwhNaidd0PeAQ3VnxRNKf6ow1jIriYqU5oQR8%2FNxwubCDIOi4YXOS6R5beDTkc5L5HVrwJDgd%2F4JE1nnQ5HFjRJ0uvSTg07x2mZImnd2ao6rYnOVn55o5BVbD9sUFW40ovQJU8aiVkKfFQwmHlJFG0dC0%2FXIELZ1ualuK9Z104lcU7WsjuvmZwCztPxCrNZV6DG7hFstnQNBdfavtN1GiyW3s50cHqjEWod7PnEenbDzhqyatHShGp%2FPPQh1PUGbbXdU5zSau3ExhU8SB8lQhFC2n8FkOOf%2Fj%2B%2B4ZIMjqjBF2WDH8JphPx8j79IYvF6GKJ3yJ24qVU4YnHDNandjwmh7g1lTjD1kRGDln6QmLJfFCKnNTBI4OF4KugGumbEqe42dVUw%2Fvm45T8MaY6Cc06%2BKUsUqrV32DAT5P3H1sQsWyjAAAAAElFTkSuQmCC);
}
.c--card-creator .s--portrait {
	width: 18px;
	height: 18px;
}

.s--noti-badge {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: rgba(232, 28, 28, 0.9);
    color: #FFF;
    font-size: 0.5em;
    text-align: center;
    line-height: 20px;
}

.s--button.c--kakao { background: #FFEB34; color: #3B1E1F;}
.s--button.c--facebook { background: #446bbb; color: #FFF; }
.s--button.c--naver { background: #2DC623; color: #FFF; }

.f--add-place { background: #52C750; color: #FFF; }
#f--hide-list, #f--show-list { background: #E0B73F; color: #000; }
#f--sharing { background: #2FA3D9; }

/* views/templates/gnb.php */
.l--common-gnb { width: 100%; height: 50px; position: relative; box-sizing: border-box; z-index: 10001; background: #FFF; }
.map .l--common-gnb { top: 0; position: absolute; }
.logo { 
	width: 65px; height: 50px;
	margin: 0 10px 0 10px;
	background: url('/assets/img/logo.png') no-repeat center / contain; 
	text-indent: -9999px;
	display: inline-block;
	float: left;
}

.songnae .logo {
	width: 100px; height: 100%;
	margin: 4px 0;
	background: url('/assets/img/logo-songnae.png') no-repeat center / contain;
}

label.portrait { position: absolute; top: 0; right: 10px; }

a.request-login {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	box-sizing: border-box;
	display: block;
	color: #6D6D6D;
	font-size: 0.9em;
	line-height: 50px;
	padding: 0 10px;
}

.l--common-gnb .triple-stripe { width: 50px; height: 50px; padding: 17px 15px; display: none; position: absolute; left: 0; top: 0; }
.l--common-gnb .l--list.common { display: block; top: 0; right: 60px; background: none; box-shadow: none; overflow: hidden;  }
.l--common-gnb .l--list.personal { right: 0; top: 50px; width: 180px; border-left: 1px solid #dbdee3; border-right: 1px solid #dbdee3; box-shadow: 1px 2px 2px rgba(0,0,0,0.2); background: #FFF; }
.l--common-gnb .l--list a { height: 50px; line-height: 30px; text-align: left; padding: 10px 18px; }
.l--common-gnb .l--list-hor > li > a { border-top: 0; }
.l--common-gnb .l--list.personal a { height: auto; line-height: normal; padding: 15px 10px; }
.l--common-gnb .l--list.notification { right: 0px; top: 50px; width: 250px; }
.l--common-gnb .l--list.notification a { padding: 10px; height: auto; text-align: left; line-height: normal; font-size: 0.82em; }
.l--common-gnb .l--list.notification .nm-meta { font-size: 0.9em; color: #a09f9d; margin-bottom: 4px; }
.l--common-gnb--firstline,
.l--common-gnb--secondline {
	overflow: hidden;
}

/* Tooltip: tiny floating layer */
.l--tooltip {
	background: white;
	position: absolute;
	top: 100%;   
	box-sizing: border-box;
	font-size: 0.8em; 
	width: 210px;
	padding: 10px;
	display: none;	
	overflow: hidden;
	z-index: 2;
	border-right: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.l--tooltip h5 { font-size: 1.4em; font-weight: normal; line-height: initial; }
.l--tooltip a { display: block; width: 100%; margin: 5px 0; font-size: 1.1em; line-height: initial; }
.l--tooltip a:hover { text-decoration: underline; }
.l--tooltip--categories { left: 0; right: auto; }
.l--tooltip--my-menu { left: auto; right: 0; width: 150px; }
.l--tooltip--pallete { width: 100px; }
.f--tooltip-trigger:hover .l--tooltip { display: block; }

.l--common-footer { overflow: hidden; padding: 29px 0; background: #454442; clear: both; }
.l--common-footer .l--container div { float: left; line-height: 18px; margin: 0 25px; }
.l--common-footer h4 { color: white; font-weight: 100; display: inline-block; margin-left: 20px; }
.l--common-footer h4:first-child { margin: 0; }
.l--common-footer p {  font-size: 0.75em; color: #D2CBC0; display: block; margin-top: 15px; }
.l--common-footer a { color: #d4bb94; }
.l--common-footer a:hover { text-decoration: underline; }

.l--common-page-header { box-sizing: border-box; -moz-box-sizing: border-box; padding: 16px; text-align: center; background: #4D4644; border-top: 1px solid #E7E7E7; border-bottom: 1px solid #E7E7E7; }
.l--common-page-header h1 { font-weight: normal; font-size: 21px; color: #FFF; }

/*- Default settings - .c--cards -*/
.c--cards { overflow: hidden; }
.c--cards:nth-child(even) { background: #FFF; }
.c--cards-title { margin: 20px 0 15px 10px; font-size: 1.3em; color: #444; }
.c--card { display: block; position: relative; box-sizing: border-box; overflow: hidden; background: #FFF; transition: 150ms; }
.c--card-hero { width: 100%; height: 150px; line-height: 150px; position: relative; background-position: center; background-color: #FFF; background-size: cover; }
.c--card-hero .owl-carousel .item { height: 250px; background-repeat: no-repeat; background-size: cover; background-position: center center; }
.c--card-hero .owl-carousel .item a { width: 100%; height: 100%; display: block; }
.c--card-hero--nb { background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%); position: absolute; width: 100%; top: 0; z-index: 3; }
.c--card-hero--nb-element { width: 40px; height: 40px; box-sizing: border-box; display: block; border: none; }
.c--card-hero--nb-element.f--close-map-page,
.c--card-hero--nb-element.f--close-place-page { float: left; }
.c--card-hero--nb-element.f--dropdown-switch { float: right; }
.c--card-hero--nb-element.f--dropdown-switch + .f--dropdown-checkbox + .l--list { right: 10px; }
.c--card-hero--nbb { height: 50px; bottom: 0; text-align: right; line-height: initial; background: none; top: auto; padding: 10px; box-sizing: border-box; }
.c--card-hero--nbb a { display: inline-block; width: 30px; height: 30px; background-image: url('/assets/img/social-icons.png'); background-repeat: no-repeat; background-size: 180px; border-radius: 50%; }
.c--card-hero--nbb a.twitter { background-position: -90px 0; }
.c--card-hero--nbb a.facebook { background-position: -60px 0; }
.c--card-hero--nbb a.kakao { background-position: -30px 0; }
.c--card-meta { padding: 18px 18px 13px 18px; }
.c--card-title { font-size: 0.95em; font-weight: normal; line-height: 1.2em; word-break: break-word; color: #444; margin-bottom: 5px; }
.c--card-hero .c--card-title { color: #FFF; font-size: 1.2em; text-align: center; vertical-align: middle; display: inline-block; line-height: normal; width: 100%; padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; margin-bottom: 0; }
.c--card-desc { font-size: 0.80em; line-height: 1.55em; word-break: break-word; overflow: hidden; color: #444; }
.c--card-desc a { color: #2A90C1; }
.c--card-creator { color: #777; font-size: 0.80em; margin-bottom: 5px;  }
.c--card-creator a { color: #2A90C1; }
.c--card-data-title { font-size: 0.75em; color: #000; padding: 7px 10px 4px; line-height: 1.35em; font-weight: normal; }
.c--card-data-value { font-size: 0.80em; color: #444; padding: 0px 10px 12px; line-height: 1.45em; }
.c--card-tail { background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 30%); padding: 25px 0 0; bottom: 0; width: 100%; position: absolute; }
.c--card-actions--wrapper { overflow: hidden; padding: 10px; box-sizing: border-box; text-align: center;  }
.c--card-actions--action { width: 24%; display: inline-block; }
.c--card-actions--action-glyphicon-wrapper { text-align: center; display: block; }
.c--card-actions--action-glyphicon-wrapper .glyphicons { width: 15px; height: 15px; display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: contain;  }
.c--card-actions--action-name { text-align: center; font-size: 0.85em; margin-top: 10px; color: #444; }

.l--main .c--card { width: 23%; margin: 0 1% 2%; float: left; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15); }
.l--main .c--card:hover { box-shadow: 0 1px 7px 0 rgba(0,0,0,0.15); }
.l--main .c--card-meta { height: 120px; padding: 12px 12px 0 12px; }
.l--map  .c--card-hero { height: 200px; line-height: 200px; }
.l--place .c--card-hero { height: 250px; line-height: normal; }
.l--place .c--card-meta { background: #454442; text-align: center; }
.l--place .c--card-title,
.l--place .c--card-address,
.l--place .c--card-desc { color: #FFF; }
.l--place .c--card-address { font-size: 0.7em; margin-bottom: 5px; }
.l--place .c--card-title { font-size: 1.3em; line-height: 1.4em; margin-bottom: 8px; }
.l--place .c--card-creator { margin-bottom: 12px; color: #e8e8e8; }

/* vies/auth/login.php */
.l--login, .l--place, .l--edit { max-width: 450px; width: 100%; margin: 10px auto;  box-sizing: border-box; }
.l--login, .l--place, .l--edit.map { padding: 15px; }
.l--place { padding: 0; }
.place .l--place { margin: 0 auto; }
.l--map--place-wrapper .l--place { margin: 0; max-width: 100%; height: 100%; background: #FFF; }
.l--login h1 { margin-bottom: 20px; font-weight: normal; text-align: center; }
.l--login .s--button:first-child { margin-top: 0; }
.l--login .s--button { padding: 15px 5px; margin-top: 10px; }
.l--login input[type=text],
.l--login input[type=password] {
	width: 100%;
	margin: 5px 0 15px;
	padding: 7px;
	font-size: 0.95em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	border: 1px solid #E7E7E7;
	-webkit-appearance: none;
	border-radius: 3px;
}

.l--login label {
	font-size: 0.8em;
	color: #6D6D6D;
}

.l--login .alert-warning p {
	padding: 5px;
	color: red;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 5px 0;
}

.f--do-submit { background: #00A938; color: #FFF; }

/***************************************************************************
 ***************************************************************************
 ***************************************************************************/
.l--my {
	padding: 20px 0;
	text-align: center;
}

.map .l--my {
	padding: 20px 0;
	background: white;
}

.l--my .s--portrait {
	width: 70px;
	height: 70px;
}

.l--my h3 {
	margin: 10px 0 15px;
	font-size: 1.5em;
}

.l--my h5 {
	font-weight: normal;
	font-size: 1.0em;
	display: inline-block; 
	margin: 0 10px;
}

.l--my h5 a {
	color: #444;
}

.l--my h5.active {
	font-weight: bold;
}

.l--my h5.map:after {
	content: "지도";
	display: block;
	font-size: 0.75em;
	margin-top: 5px;
	color: #9a9a9a;
}

.l--my h5.place:after {
	content: "장소";
	display: block;
	font-size: 0.75em;
	margin-top: 5px;
	color: #9a9a9a;
}

.l--filters { float: left; }

.l--filters--search input[type=text] {
	width: 35px;
	box-sizing: border-box;
	padding: 7.5px 0;
	margin: 7.5px 0;
	-webkit-appearance: none;
	background-image: url('/assets/img/glyphicons/png/glyphicons-28-search.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 15px; 
	border: 1px solid #FFF;
	border-radius: 15px;
	color: #444;
	font-size: 1em;
	transition: 150ms;
	text-indent: -9999px;
}

.l--filters--search input[type=text]:focus { outline: 0; width: 180px; padding: 7.5px 15px 7.5px 35px; border: 1px solid #E7E7E7; text-indent: 0; }
.l--filters--search input[type=submit] { display: none; }

/*- 메인 히어로 -*/
.l--main--hero {  background-repeat: no-repeat; background-size: cover; background-position: center top; }
.l--main--hero--wrapper { display: block; background: rgba(0, 0, 0, 0.45); height: 450px; line-height: 450px; color: white; }
.l--main--hero--text { display: inline-block; text-align: center; line-height: normal; width: 100%; vertical-align: middle; font-size: 1em; }
.l--main--hero--text h1 { font-size: 3em; font-weight: normal; }
.l--main--hero--text p { font-size: 1.5em; }

/*- 메인 필터 -*/
.l--main--filters { position: relative; text-align: center; box-sizing: border-box; background: #454442; }
.l--main--filters ul { overflow: hidden; }
.l--main--filters li { display: inline-block; }
.l--main--filters a { color: #FFF; font-size: 0.85em; padding: 10px; display: inline-block; box-sizing: border-box; }
.l--main--filters a.selected { color: #444; background: #f7fafa; }

.l--main { background: #f7fafa; }

/*- -*/
.l--map { width: 350px; transition: 400ms; height: 100%; position: relative; overflow-y: auto; z-index: 3; transition: 200ms; border-right: 1px solid #454442; background: #FFF; }
.l--map .l--buttons--wrapper { padding: 5px; background: #FFF; margin: 0; }
.l--map--wrapper { width: 100%; box-sizing: border-box; overflow-y: auto; position: relative;  }
.l--map--place-wrapper { z-index: 5; position: relative; width: 350px; height: 100%; overflow-y: auto; box-shadow: 0 0 10px rgba(0,0,0,0.6); }
.l--map--place-wrapper.edit-data-realtime { left: -100%; transition: 200ms; position: absolute; }
#clicked--add-place:checked + .l--map--place-wrapper.edit-data-realtime { left: 0; }

.l--places--place .l--places--place--wrapper {
    padding: 10px 10px 10px 30px;
    height: 100%;
    display: block;
    background-image: url('http://d38lmhrbr7kmin.cloudfront.net/uploads/pin-black.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 11px;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}
.l--places--place a:hover { background-color: #F7FAFA; }
.l--places--place a.p--thumbnail-yes { padding: 10px 95px 10px 30px; }
.l--places--place.overlay { display: block; text-decoration: none; border-radius: 3px; width: 200px; white-space: normal; border-bottom: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15); }
.l--places--place.overlay a { background-image: none!important; padding: 10px; border: 1px solid #cecdc9; }
.l--places--place.overlay a.p--thumbnail-yes { padding: 10px 95px 10px 10px; }
.l--places--place span { margin-top: 3px; line-height: 1.3em; display: block; }
.l--places--place span:first-child { margin-top: 0; }
.l--places--place-name { font-size: 0.85em; color: #646361; }
.l--places--place-address, .l--places--place-index { font-size: 0.72em; color: #a09f9d; }
.l--places--place span.l--places--place-id { display: none; }
.l--places--place-thumbnail { position: absolute; right: 0; top: 0; width: 90px; height: 100%; border: 5px solid #FFF; display: block; background-position: center center; background-repeat: no-repeat; background-size: cover; box-sizing: border-box; -moz-box-sizing: border-box; }

.l--canvas--wrapper { width: 100%; height: 100%; top: 0; left: 0; z-index: 0; transition: 200ms; box-sizing: border-box; -moz-box-sizing: border-box; position: fixed; }
.map .l--canvas--wrapper { padding-left: 350px; }
.edit-data .l--canvas--wrapper { padding-top: 120px; }
.l--canvas--wrapper .map-canvas { height: 100%; }
.path-dot { width: 15px; height: 15px; border: 3px solid #db4040; box-sizing: border-box; -moz-box-sizing: border-box; background: rgba(255, 255, 255, 0.5); display: block; border-radius: 50%; cursor: pointer; }
.path-dot:hover { background: rgba(255, 255, 255, 1); }
.map-canvas { width: 100%; height: 200px; }
.map-control { position: absolute; top: 60px; left: 360px; z-index: 1; border-radius: 3px; border: 1px solid #555B66; overflow: hidden; transition: 200ms; }
.map-control input[type=radio] { display: none; }
.map-control label { background-color: #F5F5F5; float: left; display: block; padding: 3px; box-sizing: border-box; -moz-box-sizing: border-box;  }
.map-control input:checked + label { font-weight: bold; }
.l--place .map-canvas { height: 250px; }

#toggle-switch-map-list:checked + .l--map { transform: translate(-100%, 0px); }
#toggle-switch-map-list:checked + .l--map + .l--canvas--wrapper { padding-left: 0; }
#toggle-switch-map-list:checked + .l--map + .l--canvas--wrapper .map-control { left: 10px; }

/* 범례 스타일 */
.l--index { overflow: hidden; background: #FFF; border-top: 1px solid #E7E7E7; }
.l--indexes--wrapper { overflow: hidden; }
.l--indexes--index { line-height: 18px; display: block; width: 50%; box-sizing: border-box; -moz-box-sizing: border-box; float: left; border-bottom: 1px solid #E7E7E7; }
.l--indexes--index:nth-child(odd) { border-right: 1px solid #E7E7E7; }
.l--indexes--index-checkbox { display: none; }
.l--indexes--index .icon { background-repeat: no-repeat; background-size: 100% 100%; padding: 0 0 0 22px; margin: 0 3px 0 0; vertical-align: middle; display: inline-block; height: 18px; }
.l--indexes--index .check { background:url('/assets/img/icon-check.png') no-repeat right 1px; padding: 0 0 0 18px; vertical-align: top; cursor: pointer; float: right; height: 20px; }
.l--indexes--index-checkbox:checked + .check { background-position: right -16px; }
.l--indexes--index label {
	color: #787878; 
	font-size: 0.83em; 
	cursor: pointer;   
	display: inline-block;
	width: 100%;
	padding: 5px 10px 5px 20px;
    background-repeat: no-repeat;
    background-position: 5px 7px;
    background-size: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*- Sort -*/
.l--sort { background: #FFF; }
.l--sort--search { padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; }
.l--sort--search input { width: 100%; border-radius: 15px; border: 1px solid #E7E7E7; padding: 5px 5px 5px 20px; background-image: url('/assets/img/glyphicons/png/glyphicons-28-search.png'); background-repeat: no-repeat; background-position: 10px center; background-size: 10px; -webkit-appearance: none; }
.l--sort--order { padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; }
.l--sort--order button { border: 1px solid #E7E7E7; background: transparent; padding: 5px; border-radius: 5px; }

/*- Edit -*/
.l--edit.map { padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; }
#initialize-kml { margin-bottom: 10px; }
.l--edit--items-block { padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; }
.l--edit--items-block--title { box-sizing: border-box; -moz-box-sizing: border-box; padding: 10px; background: #386FEA; color: #FFF; border-radius: 5px; margin: 10px 10px 0; display: block; }
.l--edit--item-block { margin-bottom: 18.5px; }
.l--edit--must-item,
.l--edit--required-item { padding: 10px 10px 0; box-sizing: border-box; -moz-box-sizing: border-box; }
.l--edit--optional-item { padding-bottom: 10px; }
.l--edit--required-item,
.l--edit--optional-item { display: none; }
.l--edit--item-label { margin-bottom: 5px; font-size: 0.9em; display: block; color: #444; }
.l--edit--block--radio-wrapper { border: 1px solid #E7E7E7; border-radius: 3px; overflow: hidden;  }
.l--edit--block--radio-wrapper input[type=radio] { display: none; }
.l--edit--block--radio-wrapper label { width: 100%; display: block; border-bottom: 1px solid #E7E7E7; padding: 13px 10px; box-sizing: border-box; font-size: 0.9em; }
.l--edit--block--radio-wrapper label:last-child { border-bottom: 0; }
.l--edit--block--radio-wrapper label i { width: 20px; height: 16px; margin-right: 7px; display: inline-block; vertical-align: bottom; background-repeat: no-repeat; background-size: contain; background-position: center center; }
.l--edit--block--radio-wrapper label input[type=password] { display: none; padding: 5px; width: 100%; box-sizing: border-box; margin-top: 10px;}
.l--edit--block--radio-wrapper input:checked + label { background: #E7E7E7; }
.l--edit--block--radio-wrapper input:checked + label input[type=password] { display: block; }

#visible-required-item:disabled + .l--edit--items-block--title + .l--edit--must-item .c--map-canvas--use-this-place { background: #EEE; color: #B0B0B0; }
#visible-required-item:checked + .l--edit--items-block--title + .l--edit--must-item { display: none; }
#visible-required-item:checked + .l--edit--items-block--title + .l--edit--must-item + form .l--edit--required-item { display: block; }
#visible-optional-item:checked + .l--edit--optional-item { display: block; }

.l--map--place-wrapper .l--edit { margin: 0; }
.l--map--place-wrapper #edit-canvas { display: none; }

#c--map { display: none; position: relative; }
.c--map-canvas { height: 250px; }
.c--map-canvas--use-this-place { background: #c1f451; border: 0; width: 100%; padding: 15px 0; font-size: 1.1em; cursor: pointer; border-top: 1px solid #222; border-bottom: 1px solid #444; display: block; text-align: center; }
#c--map-controller--change-state,
.c--map-controller--current-location { position: absolute; top: 10px; z-index: 3; }
#c--map-controller--change-state { left: 10px; padding: 1px; background: #F5F5F5; border: 1px solid #555B66; border-radius: 3px; }
.c--map-controller--draw-state { display: none; }
.c--map-controller--draw-state + label { color: #777; font-size: 0.8em; display: inline-block; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }
.c--map-controller--draw-state:checked + label { color: #444; border: 1px solid #444; }
.c--map-controller--current-location { right: 10px; text-indent: -9999px; }
.c--map-controller--current-location,
.map-current-location { position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    z-index: 2;
    background-color: #F5F5F5;
    background-image: url('/assets/img/glyphicons/png/glyphicons-61-compass.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 68%;
    border: 1px solid #555B66;
    border-radius: 5px;
    cursor: pointer;
}
.map-current-location { top: 60px; }
.my-location:hover { background-color: #E4E4E4; }
.return-list {
    position: absolute;
    top: 100px;
    width: 30px;
    height: 30px;
    background: #F5F5F5 url('/assets/img/glyphicons/png/glyphicons-158-show-thumbnails-with-lines.png') no-repeat center / 20px;
    z-index: 3;
    border-right: 1px solid #555B66;
    border-top: 1px solid #555B66;
    border-bottom: 1px solid #555B66;
}

#l--places-search #c--map { display: block; }

.l--edit.flags { font-size: 0.85em; }
.flags-date { font-size: 0.85em; text-align: left; margin-top: 5px; color: #8A8A8A; }

.l--edit input[type=text],
.l--edit textarea,
.l--edit select,
.l--edit input[type=password] {
	padding: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 0.9em;
	-webkit-appearance: none;
	clear: both;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
}
.l--edit .s--button { margin-bottom: 5px; width: 100%; }

#f--add-field, 
#f--add-index, 
.f--remove-field, 
.f--remove-index, 
.f--change-icon, 
.f--change-icon .l--tooltip button, 
.f--search-address { 
	-webkit-appearance: none; 
	border: 0; 
	box-sizing: border-box; 
	background: white; 
	cursor: pointer;
}

#f--add-field, 
#f--add-index { float: right; padding: 5px 10px; margin-bottom: 10px; border: 1px solid #E7E7E7; }
.f--remove-field, 
.f--remove-index, 
.f--search-address {position: absolute; top: 0; right: 0; height: 100%; padding: 0 15px; background: transparent; }

.f--change-icon { position: absolute; top: 0; left: 0; height: 100%; padding: 5.5px 7px; display: block; background: transparent; }
.f--change-icon .l--tooltip { top: 100%; left: -1px; padding: 4px; }
.f--change-icon .l--tooltip button { padding: 5px; margin: 0 1px 3px 0; }

.l--edit--fields, .l--edit--indexes { clear: both; margin-bottom: 10px; }
.l--edit--block--wrapper-relative { clear: both; position: relative; margin-bottom: 10px; }
.l--edit--fields .l--edit--block--wrapper-relative input { padding: 7px 60px 7px 10px!important; }
.l--edit--indexes .l--edit--block--wrapper-relative input { padding: 7px 60px 7px 30px!important; }

.l--edit--upload-photo {
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px 0px;
    margin: 5px 0.5%;
    width: 32.3%;
    height: 140px;
    transition: 500ms;
    float: left;
}

.l--edit--uploads-list { overflow: hidden; margin-top: 10px; }
.l--edit--uploads-photo {
	width: 24%;
	height: 100px;
	display: block;
	position: relative;
	background: #F2F2F2 url('/assets/img/loading.gif') no-repeat center;
	box-sizing: border-box;
	float: left;
    margin: 0 0.5% 3px;
}

.l--edit--uploads-photo .photo { width: 100%; height: 100%; }
.l--edit--uploads-photo .overlay {
	width: 25px;
	height: 25px;
	background: rgba(0, 0, 0, 0.5) url('/assets/img/close.png') no-repeat center / 15px;
	line-height: 20px;
	position: absolute;
	top: 0; right: 0;
	color: white;
	border-radius: 0;
	cursor: pointer;
	text-indent: -9999px;
}

.l--edit--upload-photos-photo .overlay:hover { background: rgba(0, 0, 0, 0.8) url('/assets/img/close.png') no-repeat center / 15px; }

@media (min-width: 1281px) {
	.l--container { max-width: 1300px; }
	.l--main .c--card { width: 18%; }
	.c--map-canvas { height: 550px; }
}

@media (max-width: 1280px) {
	.c--map-canvas { height: 400px; }
}

@media (max-width: 870px) {
	.l--main .c--card { width: 31.3%; }
	.l--common-footer { overflow: hidden; padding: 15px 0; background: #454442; }
	.l--common-footer .l--container div { margin-left: 0; padding: 10px; width: 100%; box-sizing: border-box; }
	.c--map-canvas { height: 400px; }
	.l--edit--upload-photo { width: 49%; height: 200px; margin: 2px 0.5%;}
}

@media (max-width: 540px) {	
	html.map, body.map { height: auto; overflow: visible; padding-top: 44px; }
	.l--common-gnb, .map .l--common-gnb { text-align: center; width: 100%; height: auto; }
	.l--common-gnb .l--list.common { width: 100%; position: static; z-index: 2; background: #F9F9F9; }
	.l--common-gnb .l--list a { height: 38px; line-height: 21px; background: transparent; }
	.l--main--hero--wrapper { height: 300px; line-height: 350px; }
	.l--main--hero--text { font-size: 0.65em; }
	.l--main--filters a { padding: 10px 5px; }
	.l--filters--search input[type=text]:focus { width: 180px; }
	.l--login, .l--edit { width: 100%; }
	.l--main .c--card { width: 48%; }
	.l--canvas--wrapper { padding: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15); height: 100%; position: absolute; z-index: 2; }
	.map .l--canvas--wrapper { padding-left: 0; }
	.map-control { left: 3px; }
	.map-current-location { top: 100px; }
	.l--map { width: 100%; height: auto; position: absolute; border-right: 0; }
	.c--map-canvas { height: 300px; }
	.noscroll .l--map { display: none; }
	.l--map--wrapper { width: 100%; }
	.l--map--place-wrapper { width: 100%; height: initial; position: absolute; }
	.l--my + .l--map--wrapper { padding: 0 0 40px; }
	.l--edit--upload-photo { height: 150px; }
	.hiding-over-540px--ib { display: inline-block!important; }
}

@media (max-width: 369px) {
	.l--main--filters a { padding: 10px 5px; font-size: 0.8em; }
	.l--main .c--card { width: 100%; margin: 0 0 15px; }
	.hiding-under-375px { display: none; }
	.l--edit--upload-photo { margin: 5px 0; width: 100%; height: 120px; }
	.l--place { margin: 0 auto; border: 0; }
	.l--common-footer h4 { display: block; margin-left: 0; margin-top: 5px; }
	.l--common-footer h4:first-child { margin-top: 0; }
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox
{
	cursor: pointer;
	position: fixed;
	z-index: 10000;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
	#imagelightbox-loading div
	{
		width: 1.25em; /* 20 */
		height: 1.25em; /* 20 */
		background-color: #fff;

		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

	@-webkit-keyframes imagelightbox-loading
	{
		from { opacity: .5;	-webkit-transform: scale( .75 ); }
		50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
		to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
	}
	@keyframes imagelightbox-loading
	{
		from { opacity: .5;	transform: scale( .75 ); }
		50%	 { opacity: 1;	transform: scale( 1 ); }
		to	 { opacity: .5;	transform: scale( .75 ); }
	}


/* OVERLAY */

#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 0, 0, 0, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus { background-color: #111; }

	#imagelightbox-close:before,
	#imagelightbox-close:after
	{
		width: 2px;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 50%;
		margin-left: -1px;
	}
	#imagelightbox-close:before
	{
		-webkit-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}
	#imagelightbox-close:after
	{
		-webkit-transform: rotate( -45deg );
		-ms-transform: rotate( -45deg );
		transform: rotate( -45deg );
	}


/* CAPTION */

#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}


/* NAVIGATION */

#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
	#imagelightbox-nav button
	{
		width: 1em; /* 20 */
		height: 1em; /* 20 */
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		margin: 0 0.313em; /* 5 */
	}
	#imagelightbox-nav button.active
	{
		background-color: #fff;
	}


/* ARROWS */

.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: transparent;
/* 	background-color: rgba( 0, 0, 0, .5 ); */
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
	border: 0;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus	{ background-color: rgba( 0, 0, 0, .75 ); }
.imagelightbox-arrow:active { background-color: #111; }

	.imagelightbox-arrow-left	{ left: 2.5em; /* 40 */ }
	.imagelightbox-arrow-right	{ right: 2.5em; /* 40 */ }

	.imagelightbox-arrow:before
	{
		width: 0;
		height: 0;
		border: 1em solid transparent;
		content: '';
		display: inline-block;
		margin-bottom: -0.125em; /* 2 */
	}
		.imagelightbox-arrow-left:before
		{
			border-left: none;
			border-right-color: #fff;
			margin-left: -0.313em; /* 5 */
		}
		.imagelightbox-arrow-right:before
		{
			border-right: none;
			border-left-color: #fff;
			margin-right: -0.313em; /* 5 */
		}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
	@-webkit-keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}
	@keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}

@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left	{ left: 1.25em; /* 20 */ }
	.imagelightbox-arrow-right	{ right: 1.25em; /* 20 */ }
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left	{ left: 0; }
	.imagelightbox-arrow-right	{ right: 0; }
}